<h2>Gestion des albums</h2>


<div class="content">
    <article *ngFor="let album of listAlbums">
        <section>
            <p>{{ album.title }}</p>
            <img class="mb-2" [src]="'http://localhost:8080' + album.cover" alt="Cover de l'album">
        </section>
        <section class="buttons-update-album mb-2">
            <button routerLink="/admin/albums/update/{{album.id}}">Modifier</button>
            <button (click)="deleteAlbum(album.id)">Supprimer</button>
        </section>
    </article>
</div>

<a routerLink="/admin/albums/create">Ajouter un album</a>
