<h2>Gestion des artists</h2>


<div class="content">
    <article *ngFor="let artist of listArtists">
        <section>
            <p>Prénom : {{ artist.firstname }}</p>
            <p>Nom : {{ artist.lastname }}</p>
            <p>Date de naissance : {{ artist.birthdate | date : 'dd/MM/yyyy' }}</p>
            <p>Date de décès : {{ artist.deathdate | date : 'dd/MM/yyyy' }}</p>
        </section>
        <section>
            <button routerLink="/admin/artists/update/{{artist.id}}">Modifier</button>
            <button (click)="deleteArtist(artist.id)">Supprimer</button>
        </section>
    </article>
</div>

<a routerLink="/admin/artists/create">Ajouter un artist</a>